NODE_ENV=production

# Consulta con el administrador
API_KEY=

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=egf.123456
DB_NAME=DB-Ecommerce-Gluten-Free 

PORT=3000
API_HOST=http://localhost:3000/api

# Generar nuevo JWT_SECRET desde https://jwtsecrets.com/ o cualquiera de tu preferencia
JWT_SECRET=
JWT_EXPIRE=1h